# This is an incomplete bundle fragment. Do not attempt to deploy.
description: |-
    A seven-machine Kubernetes cluster, appropriate for bare metal using MaaS KVM Pods. Includes three kubernetes-control-plane and four worker nodes.
series: focal
machines:
  0:
    constraints: cores=8 mem=16G root-disk=100G
  1:
    constraints: cores=8 mem=16G root-disk=100G
  2:
    constraints: cores=8 mem=16G root-disk=100G
  3:
    constraints: cores=12 mem=32G root-disk=200G
  4:
    constraints: cores=12 mem=32G root-disk=200G
  5:
    constraints: cores=12 mem=32G root-disk=200G
  6:
    constraints: cores=12 mem=32G root-disk=200G
applications:
  "kubernetes-control-plane":
    charm: "kubernetes-control-plane"
    num_units: 3
    options:
      channel: 1.23/stable
    annotations:
      "gui-x": "800"
      "gui-y": "850"
    to:
      - 0
      - 1
      - 2
  "kubeapi-load-balancer":
    charm: "kubeapi-load-balancer"
    num_units: 1
    expose: true
    annotations:
      "gui-x": "450"
      "gui-y": "250"
    to:
     - 3
  "easyrsa":
    charm: "easyrsa"
    num_units: 1
    annotations:
      "gui-x": "90"
      "gui-y": "420"
    to:
     - lxd:kubernetes-control-plane
  "kubernetes-worker":
    charm: "kubernetes-worker"
    constraints: cores=2 mem=4G root-disk=30G
    num_units: 12
    options:
      channel: 1.23/stable
    expose: true
    annotations:
      "gui-x": "90"
      "gui-y": "850"
    to: ["kvm:kubernetes-worker-host/0",
        "kvm:kubernetes-worker-host/1",
        "kvm:kubernetes-worker-host/2",
        "kvm:kubernetes-worker-host/3",
        "kvm:kubernetes-worker-host/0",
        "kvm:kubernetes-worker-host/1",
        "kvm:kubernetes-worker-host/2",
        "kvm:kubernetes-worker-host/3",
        "kvm:kubernetes-worker-host/0",
        "kvm:kubernetes-worker-host/1",
        "kvm:kubernetes-worker-host/2",
        "kvm:kubernetes-worker-host/3"]
  "etcd":
    charm: "etcd"
    num_units: 3
    annotations:
      "gui-x": "800"
      "gui-y": "420"
    to:
        - 0
        - 1
        - 2
  "kubernetes-worker-host":
    charm: "ubuntu"
    num_units: 4
    annotations:
      "gui-x": "90"
      "gui-y": "850"
    to:
        - 3
        - 4
        - 5
        - 6
relations:
  - - "kubernetes-control-plane:loadbalancer-external"
    - "kubeapi-load-balancer:lb-consumers"
  - - "kubernetes-control-plane:loadbalancer-internal"
    - "kubeapi-load-balancer:lb-consumers"
  - - "kubernetes-control-plane:kube-control"
    - "kubernetes-worker:kube-control"
  - - "kubernetes-control-plane:certificates"
    - "easyrsa:client"
  - - "etcd:certificates"
    - "easyrsa:client"
  - - "kubernetes-control-plane:etcd"
    - "etcd:db"
  - - "kubernetes-worker:certificates"
    - "easyrsa:client"
  - - "kubeapi-load-balancer:certificates"
    - "easyrsa:client"
