# This is an incomplete bundle fragment. Do not attempt to deploy.
description: |-
    A minimal two-machine Kubernetes cluster, appropriate for development.
issues: https://bugs.launchpad.net/charmed-kubernetes-bundles
series: jammy
source: https://github.com/charmed-kubernetes/bundle
website: https://ubuntu.com/kubernetes/charmed-k8s
applications:
  "kubernetes-control-plane":
    charm: "kubernetes-control-plane"
    num_units: 1
    to:
      - "0"
    options:
      channel: 1.30/edge
    expose: true
    constraints: "cores=4 mem=16G root-disk=64G"
    annotations:
      "gui-x": "800"
      "gui-y": "850"
  "easyrsa":
    charm: "easyrsa"
    num_units: 1
    to:
      - lxd:0
    annotations:
      "gui-x": "90"
      "gui-y": "420"
  "kubernetes-worker":
    charm: "kubernetes-worker"
    num_units: 1
    to:
      - "1"
    options:
      channel: 1.30/edge
    expose: true
    constraints: "cores=2 mem=8G root-disk=64G"
    annotations:
      "gui-x": "90"
      "gui-y": "850"
  "etcd":
    charm: "etcd"
    num_units: 1
    options:
      channel: 3.4/stable
    to:
      - "0"
    annotations:
      "gui-x": "800"
      "gui-y": "420"
relations:
  - - "kubernetes-control-plane:kube-control"
    - "kubernetes-worker:kube-control"
  - - "kubernetes-control-plane:certificates"
    - "easyrsa:client"
  - - "kubernetes-control-plane:etcd"
    - "etcd:db"
  - - "kubernetes-worker:certificates"
    - "easyrsa:client"
  - - "etcd:certificates"
    - "easyrsa:client"
machines:
  "0":
    constraints: "cores=4 mem=16G root-disk=64G"
  "1":
    constraints: "cores=2 mem=8G root-disk=64G"
