# This is an incomplete bundle fragment. Do not attempt to deploy.
description: |-
    A minimal two-machine Kubernetes cluster, appropriate for development.
series: focal
applications:
  "kubernetes-control-plane":
    charm: "kubernetes-control-plane"
    num_units: 1
    to:
      - "0"
    options:
      channel: 1.23/stable
    expose: true
    constraints: "cores=2 mem=4G root-disk=16G"
    annotations:
      "gui-x": "800"
      "gui-y": "850"
  "easyrsa":
    charm: "easyrsa"
    num_units: 1
    to:
      - lxd:0
    annotations:
      "gui-x": "90"
      "gui-y": "420"
  "kubernetes-worker":
    charm: "kubernetes-worker"
    num_units: 1
    to:
      - "1"
    options:
      channel: 1.23/stable
    expose: true
    constraints: "cores=4 mem=4G root-disk=16G"
    annotations:
      "gui-x": "90"
      "gui-y": "850"
  "etcd":
    charm: "etcd"
    num_units: 1
    options:
      channel: 3.4/stable
    to:
      - "0"
    annotations:
      "gui-x": "800"
      "gui-y": "420"
relations:
  - - "kubernetes-control-plane:kube-control"
    - "kubernetes-worker:kube-control"
  - - "kubernetes-control-plane:certificates"
    - "easyrsa:client"
  - - "kubernetes-control-plane:etcd"
    - "etcd:db"
  - - "kubernetes-worker:certificates"
    - "easyrsa:client"
  - - "etcd:certificates"
    - "easyrsa:client"
machines:
  "0":
    series: focal
    constraints: "cores=2 mem=4G root-disk=16G"
  "1":
    series: focal
    constraints: "cores=4 mem=4G root-disk=16G"
