# This is an incomplete bundle fragment. Do not attempt to deploy.
description: |
    This is a converged cluster modelled for development. We start you out with one control plane, one etcd data store, a certificate authority and one worker..
    Take out all the difficulty of setting up and managing Kubernetes with this bundle, ready to deploy, scale, and control the lifecycle management of your containers.
    It will run 2 machines in your cloud.
series: xenial
services:
  "kubernetes-master":
    charm: "cs:~containers/kubernetes-master"
    num_units: 1
    to:
      - "0"
    expose: true
    annotations:
      "gui-x": "800"
      "gui-y": "850"
  "easyrsa":
    charm: "cs:~containers/easyrsa"
    num_units: 1
    to:
      - lxd:0
    annotations:
      "gui-x": "450"
      "gui-y": "550"
  "kubernetes-worker":
    charm: "cs:~containers/kubernetes-worker"
    num_units: 1
    to:
      - "1"
    expose: true
    annotations:
      "gui-x": "100"
      "gui-y": "850"
  "etcd":
    charm: "cs:~containers/etcd"
    num_units: 1
    to:
      - "0"
    annotations:
      "gui-x": "800"
      "gui-y": "550"
relations:
  - - "kubernetes-master:kube-api-endpoint"
    - "kubernetes-worker:kube-api-endpoint"
  - - "kubernetes-master:kube-control"
    - "kubernetes-worker:kube-control"
  - - "kubernetes-master:certificates"
    - "easyrsa:client"
  - - "kubernetes-master:etcd"
    - "etcd:db"
  - - "kubernetes-worker:certificates"
    - "easyrsa:client"
  - - "etcd:certificates"
    - "easyrsa:client"
machines:
  "0":
    series: xenial
  "1":
    series: xenial
