# This is an incomplete bundle fragment. Do not attempt to deploy.
description: |
    A minimal two-machine Kubernetes cluster, appropriate for development.
series: xenial
services:
  "kubernetes-master":
    charm: "cs:~containers/kubernetes-master"
    num_units: 1
    to:
      - "0"
    options:
      channel: 1.7/stable
    expose: true
    annotations:
      "gui-x": "800"
      "gui-y": "850"
  "easyrsa":
    charm: "cs:~containers/easyrsa"
    num_units: 1
    to:
      - lxd:0
    annotations:
      "gui-x": "450"
      "gui-y": "550"
  "kubernetes-worker":
    charm: "cs:~containers/kubernetes-worker"
    num_units: 1
    to:
      - "1"
    options:
      channel: 1.7/stable
    expose: true
    annotations:
      "gui-x": "100"
      "gui-y": "850"
  "etcd":
    charm: "cs:~containers/etcd"
    num_units: 1
    to:
      - "0"
    annotations:
      "gui-x": "800"
      "gui-y": "550"
relations:
  - - "kubernetes-master:kube-api-endpoint"
    - "kubernetes-worker:kube-api-endpoint"
  - - "kubernetes-master:kube-control"
    - "kubernetes-worker:kube-control"
  - - "kubernetes-master:certificates"
    - "easyrsa:client"
  - - "kubernetes-master:etcd"
    - "etcd:db"
  - - "kubernetes-worker:certificates"
    - "easyrsa:client"
  - - "etcd:certificates"
    - "easyrsa:client"
machines:
  "0":
    series: xenial
  "1":
    series: xenial
